
// Link
// ––––––––––––––––––––––––––––––––––––––––––––––––––

a
	color: $colour-anchor

	&:focus,
	&:hover
		color: $colour-anchor-active

	&:visited
		color: $colour-anchor-visited

a.plain-anchor
	color: $color-secondary
	text-decoration: none

	&:focus, &:hover, &:visited
		color: $color-secondary
